{% extends "base.html" %}

{% load static %}



{% block content %}




{% comment %}
у этой страницы два состояния:
1) до преобразования файла в текстовый формат (в теге if not resulturl)
2) после преобразования (в теге if resulturl)
{% endcomment %}



<div class="container mx-auto text-center">



{% if not resulturl %}

<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
  <h1 class="display-6">Выберите PDF-файл, который хотите преобразовать в текст и формат текстового файла</h1>
<!--  <p class="lead">Размер файлов не должен превышать 25 Мб</p> -->
</div>



<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
<div class="custom-file">
  <input type="file" class="custom-file-input" name="file1" id="FileLang1" accept=".pdf">
  <label class="custom-file-label" for="FileLang1" data-browse="Обзор">Выберите файл</label>
</div>
<p></p>

<div class="form-check form-check-inline">
  <input class="form-check-input" type="radio" name="format1" id="inlineRadio1" value="doc" checked>
  <label class="form-check-label" for="inlineRadio1">DOC</label>
</div>
<div class="form-check form-check-inline">
  <input class="form-check-input" type="radio" name="format1" id="inlineRadio2" value="rtf">
  <label class="form-check-label" for="inlineRadio2">RTF</label>
</div>
<div class="form-check form-check-inline">
  <input class="form-check-input" type="radio" name="format1" id="inlineRadio3" value="odt">
  <label class="form-check-label" for="inlineRadio3">ODT</label>
</div>
<div class="form-check form-check-inline">
  <input class="form-check-input" type="radio" name="format1" id="inlineRadio4" value="txt">
  <label class="form-check-label" for="inlineRadio4">TXT</label>
</div>
{% comment %}почему то выдает странную ссылку на результат
<div class="form-check form-check-inline">
  <input class="form-check-input" type="radio" name="format1" id="inlineRadio5 value="html">
  <label class="form-check-label" for="inlineRadio5">HTML</label>
</div>
{% endcomment %}

<small id="HelpBlock" class="form-text text-muted">
Мы не гарантируем абсолютной точности распознования текста и рекомендуем проверить его корректность после распознавания.
</small>


<p></p>
<button type="submit" class="btn btn-info">Преобразовать</button>

</form>

<!-- модальное окно, которое появляется при попытке отправить файл большого размера -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-body">
    <b>Этот файл слишком большой!</b>
    <br>Пожалуйста, выберите файл меньше 50 мегабайт.
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Далее</button>
      </div>
    </div>
  </div>
</div>


{% endif %}









{% if resulturl %}

<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
  <h1 class="display-6">Файл успешно преобразован в текстовый формат!</h1>
<!-- request.path <p class="lead">Скачайте результат, за тем выберете дальнейшее действие</p> -->
</div>


<br>
<a href="{{ resulturl }}" class="btn btn-warning btn-lg" role="button" download><i class="fas fa-download"></i>  Скачать результат</a>
<br>
<br>
<a href="{{ request.path }}" class="btn btn-primary btn-sm" role="button"><i class="fas fa-redo"></i>  Преобразовать еще</a>

<a href="/" class="btn btn-secondary btn-sm" role="button"><i class="fas fa-home"></i>  На главную страницу</a>
<br>
<br>



{% endif %}





</div>




    <script src="https://cdn.jsdelivr.net/npm/bs-custom-file-input/dist/bs-custom-file-input.js"></script>
    <script>
      bsCustomFileInput.init()

      var btn = document.getElementById('btnResetForm')
      var form = document.querySelector('form')
      btn.addEventListener('click', function () {
        form.reset()
      })
    </script>



{% endblock %}


{% block scripts %}




    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

<!-- скрипт для работы модального окна -->
<script type="text/javascript">
        $('#FileLang1').on('change', function() {
            var FileSize = $(this)[0].files[0].size/1024/1024;
            if (FileSize > 50) {
            $('#exampleModal').modal('show')
            $('#exampleModal').on('hidden.bs.modal', function (e) {
                location.reload()
                        })
                               }
            else {}
                });
</script>

{% endblock %}







