{% extends "base.html" %}

{% load static %}





{% block content %}

<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">

<img src="{% static "img/xmas.svg"%}">

  <h1 class="display-6">Инструменты для работы с PDF</h1>
  <p class="lead">Бесплатно, быстро, удобно. Объединяйте, разделяйте, сжимайте, конвертируйте в другие форматы.</p>
</div>







<div class="container">
<div class="row">


<div class="col-sm-4">
<a href="./compress">
<div class="card mb-3 border-warning " style="max-width: 540px; border-width:2px" >
  <div class="row no-gutters">
    <div class="col-md-4">
    <img src="{% static "img/icons/compress.png"%}" class="card-img" alt="Сжать файл PDF">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <p class="card-text text-muted">Уменьшить размер файла</p>
      </div>
    </div>
  </div>
</div>
</a>
</div>


<div class="col-sm-4">
<a href="./merge">
<div class="card mb-3 border-success " style="max-width: 540px; border-width:2px" >
  <div class="row no-gutters">
    <div class="col-md-4">
    <img src="{% static "img/icons/merge.png"%}" class="card-img" alt="Объединить файлы PDF">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <p class="card-text text-muted">Объединить файлы</p>
      </div>
    </div>
  </div>
</div>
</a>
</div>


<div class="col-sm-4">
<a href="./in-images">
<div class="card mb-3 border-dark " style="max-width: 540px; border-width:2px" >
  <div class="row no-gutters">
    <div class="col-md-4">
    <img class="card-img" src="{% static "img/icons/in_image.svg"%}" alt="Конвертировать файл PDF в изображения (JPEG, PNG)"> </img>
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <p class="card-text text-muted">Из PDF в изображения</p>
      </div>
    </div>
  </div>
</div>
</a>
</div>


<div class="col-sm-4">
<a href="./rotate">
<div class="card mb-3 border-success" style="max-width: 540px; border-width:2px" >
  <div class="row no-gutters">
    <div class="col-md-4">
    <img src="{% static "img/icons/rotate.png"%}" class="card-img" alt="Повернуть страницы файла PDF">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <p class="card-text text-muted">Повернуть страницы</p>
      </div>
    </div>
  </div>
</div>
</a>
</div>


<div class="col-sm-4">
<a href="./insert">
<div class="card mb-3 border-success " style="max-width: 540px; border-width:2px" >
  <div class="row no-gutters">
    <div class="col-md-4">
    <img src="{% static "img/icons/insert.png"%}" class="card-img" alt="Вставить один файл PDF в другой">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <p class="card-text text-muted">Вставить один файл в другой</p>
      </div>
    </div>
  </div>
</div>
</a>
</div>


<div class="col-sm-4">
<a href="./out-images">
<div class="card mb-3 border-dark" style="max-width: 540px; border-width:2px" >
  <div class="row no-gutters">
    <div class="col-md-4">
    <img class="card-img" src="{% static "img/icons/out_image.png"%}" alt="Конвертировать изображения в файл PDF"> </img>
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <p class="card-text text-muted">Из изображений в PDF</p>
      </div>
    </div>
  </div>
</div>
</a>
</div>



<div class="col-sm-4">
<a href="./split-1">
<div class="card mb-3 border-success " style="max-width: 540px; border-width:2px" >
  <div class="row no-gutters">
    <div class="col-md-4">
    <img src="{% static "img/icons/split.png"%}" class="card-img" alt="Разделить файл PDF на отдельные страницы">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <p class="card-text text-muted">Разделить файл на страницы</p>
      </div>
    </div>
  </div>
</div>
</a>
</div>



<div class="col-sm-4">
<a href="./in-pdf">
<div class="card mb-3 border-info" style="max-width: 540px; border-width:2px" >
  <div class="row no-gutters">
    <div class="col-md-4">
    <img class="card-img" src="{% static "img/icons/out_text.png"%}" alt="Конвертировать из текстовых форматов (docx, doc, rtf, odt, txt, html) в PDF">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <p class="card-text text-muted">Из текстовых форматов в PDF</p>
      </div>
    </div>
  </div>
</div>
</a>
</div>


<div class="col-sm-4">
<a href="./in-text">
<div class="card mb-3 border-info" style="max-width: 540px; border-width:2px" >
  <div class="row no-gutters">
    <div class="col-md-4">
    <img src="{% static "img/icons/in_text.png"%}" class="card-img" alt="Конвертировать файл PDF в текстовый формат (doc, rtf, odt, txt)">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <p class="card-text text-muted">Из PDF в текст <b>распознать PDF</b></p>
      </div>
    </div>
  </div>
</div>
</a>
</div>


</div>



</div>





{% endblock %}


{% block scripts %}


    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>



{% endblock %}






