{% extends "base.html" %}

{% load static %}



{% block content %}


<div class="container mx-auto">

<style>
   p {
    text-align: justify; /* Выравнивание по ширине */
   }
</style>

<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
  <h1 class="display-6 ">Политика конфиденциальности</h1>
  <p class="lead text-center">в том числе в отношении обработки персональных данных,</p>
  <p class="lead text-center">сайта в сети Интернет <mark><b>pdf4you.ru</b></mark></p>
<br>
<p>1. Настоящая политика конфиденциальности, в том числе в отношении обработки персональных данных, составлена в соответствии с требованиями законодательства Российской Федерации, в том числе Федерального закона от 27.07.2006. №149-ФЗ «Об информации, информационных технологиях и о защите информации», Федерального закона от 27.07.2006. №152-ФЗ «О персональных данных».
<p>2. Понятия, термины и определения, используемые в настоящей политике, соответствуют федеральным законам, указанным в пункте 1.1 настоящей политики.
<p>3. Администрация сайта pdf4you.ru (далее - сайт) <mark>не осуществляет обработку конфиденциальной информации, в том числе персональных данных, за исключением обезличенных персональных данных в формате «Cookie»-файлов.</mark> Администрация сайта в своей деятельности не запрашивается у пользователей сайта конфиденциальную информацию, в том числе персональные данные, за исключением обезличенных персональных данных в формате «Cookie»-файлов.
<p>4. Администрация сайта правилами использования сайта и настоящей политикой <mark>запрещает пользователям сайта отправлять конфиденциальную информацию, в том числе персональные данные, через формы отправки данных на сайте</mark>, а также просит не отправлять такую информацию в адрес администрации сайта по электронной почте, в социальных сетях, мессенджерах, любыми другими каналами связи и способами.
<p>5. Обезличенные данные о действиях пользователей на сайте в формате «Cookie»-файлов, собираемые с помощью сервисов интернет-статистики («Яндекс Метрика» и «Гугл Аналитика» и подобных им), обрабатываются с целью улучшения качества сайта и его содержания.
<p>6. Пользователь сайта использованием функций сайта, в том числе переходом с главной страницы сайта на любую другую страницу сайта, выражает свое согласие на обработку обезличенных персональных данных, свое согласие с настоящей политикой и правилами использования сайта.
<p>7. На сайте обрабатываются обезличенные данные о пользователе сайта в случае, если это разрешено в настройках браузера пользователя сайта (включено сохранение файлов «cookie» и использование технологии JavaScript).
<p>8. Администрация сайта не передает обезличенные персональные данные третьим лицам, за исключением передачи обезличенных персональных данных о действиях пользователей на сайте в сервисы интернет-статистики и за исключением случаев, предусмотренных законодательством Российской Федерации.
<p>9. Администрация сайта обеспечивает безопасность обезличенных персональных данных организационными и техническими мерами, необходимыми для удовлетворения требований законодательства Российской Федерации.
<p>10. Срок обработки обезличенных персональных данных является неограниченным.
<p>11. Пользователь сайта может настройками своего браузера отменить свое согласие на обработку обезличенных персональных данных, запретив для сайта сохранение файлов «cookie» и использование технологии JavaScript.
<p>12. Пользователь сайта не может отменить свое согласие на обработку ранее полученных данных о действии пользователя на сайте, так как невозможно определить какие именно обезличенные персональные данные принадлежат конкретному пользователю ввиду их обезличенности, а так же по причине того, что в результате обработки такие данные агрегируются в статистические данные.
<p>13. Пользователь сайта может получить разъяснения по интересующим вопросам, касающимся обработки его обезличенных персональных данных, обратившись к администрации сайта с помощью электронной почты pdf4you@mail.ru.
<p>14. Актуальная версия настоящей политики в свободном доступе расположена в сети Интернет по адресу https://pdf4you.ru/policy/. Любые изменения настоящей политики будут опубликованы администрацией сайта по адресу https://pdf4you.ru/policy/.
<p>15. Настоящая политика действует бессрочно до замены ее новой версией.
</div>

</div>


{% endblock %}


{% block scripts %}




    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>






{% endblock %}







